%% -*- mode: Erlang; -*-

{erl_opts, [
            debug_info,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{sub_dirs, ["rel"]}.

{deps, [
        {nitrogen_core,      "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
        {nprocreg,           "0.2.*", {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}},
        {simple_bridge,      "1.2.*", {git, "git://github.com/nitrogen/simple_bridge.git", "HEAD"}},
        {sync,               "0.1.*", {git, "git://github.com/rustyio/sync.git", "HEAD"}},
        {metalkia_web_site,  ".*", {git, "git@bitbucket.org:zert/metalkia_web_site.git", "HEAD"}},
        {webmachine,         "1.8.*", {git, "git://github.com/basho/webmachine.git", {tag, "webmachine-1.8.0"}}}
        %{metalkia_riak,      ".*", {git, "git@bitbucket.org:zert/metalkia_riak.git", "HEAD"}},
       ]}.
