%% -*- mode: Erlang; -*-

{erl_opts, [
            debug_info,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{sub_dirs, ["rel"]}.

{deps, [
        {metalkia_core,      ".*", {git, "git://github.com/metachord/metalkia_core.git", "HEAD"}},
        {metalkia_web_site,  ".*", {git, "git://github.com/metachord/metalkia_web_site.git", "HEAD"}},
        {metalkia_xmpp,      ".*", {git, "git://github.com/metachord/metalkia_xmpp.git", "HEAD"}}
       ]}.
