%% -*- mode: Erlang; -*-

{sys, [
       {lib_dirs, ["../deps"]},
       {rel, "metalkia_web", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         %% Nitrogen
         nitrogen_core,
         simple_bridge,
         nprocreg,
         %%sync,
         %% Metalkia
         metalkia_web_site,
         metalkia_xmpp
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "metalkia_web"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "metalkia_web"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/metalkia_web", "bin/metalkia_web"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},

           {mkdir, "site/static"},
           {mkdir, "site/templates/"},

           {copy,  "../deps/nitrogen_core/www", "site/static/nitrogen"},

           {copy,  "../deps/metalkia_web_site/www/static", "site/static/metalkia"},
           {copy,  "../deps/metalkia_web_site/www/templates", "site/templates/metalkia"}

          ]}.
