[
 %% SASL config
 {sasl, [
         %%{sasl_error_logger, {file, "log/sasl-error.log"}},
         {sasl_error_logger, tty},
         {errlog_type, all},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% Lager config
 {lager,
  [
   {handlers,
    [
     {lager_console_backend, debug},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/warning.log", warning, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5},
       {"log/debug.log", debug, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

 {webmachine,
  [
   {bind_address, "0.0.0.0"},
   {port, 8000},
   {document_root, "./site/static"}
  ]},

 {metalkia_core,
  [
   {url, "http://metalkia.com"},
   {facebook_app_id, "dummy_app_id"},
   {facebook_app_secret, "dummmy_app_secret"},

   {twitter,
    [
     {key, "key"},
     {secret, "secret"},
     {request_token_url, "https://api.twitter.com/oauth/request_token"},
     {authorize_url, "https://api.twitter.com/oauth/authorize"},
     {access_token_url, "https://api.twitter.com/oauth/access_token"},
     {callback_url, "http://metalkia.com/twitter"}
    ]}

  ]},

 {metalkia_riak,
  [
   {bucket_replicas,
    [
     {<<"posts">>, 3},
     {<<"facebook">>, 3}
    ]},
   {riak_nodes,
    [
     'dev1@zert.local',
     'dev2@zert.local',
     'dev3@zert.local',
     'dev4@zert.local'
    ]}
  ]},

 {metalkia_xmpp,
  [
   {enabled, false},
   {jid, "metalkia@jabber.ru"},
   {password, "*******"}
  ]}

].

